{% include 'imports.html' without context %}
<div class="container">

  <header class="row">
          <div class="col-12 title-profile">
              <div>
                  <h1>Basic Blog</h1>
              </div>
               <hr>
          </div>
  </header>

  <section class="row">
        <div class="col-12" style="text-align: center;">
         <img src="/images/404.png" alt="Error 404" style="width: 50%;">
        </div>
  </section>


  <div class="row">
      <div class="col-12">
          <hr>
          <a href="/"> <h2>Go to the Articles</h2></a>
      </div>
  </div>

</div>