<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quiz: Basic Blog</title>
  <!-- default styles  -->
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link type="text/css" rel="stylesheet" href="../stylesheets/main.css" />

  <!--styles for mobile  or/and browsers smaller than 700px -->
  <link rel="stylesheet" href="/stylesheets/main.980.css" media="screen and (max-width: 980px)" />

  <!--styles for mobile or/and browsers smaller than 550px -->
  <link rel="stylesheet" href="/stylesheets/main.550.css" media="screen and (max-width: 550px)" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:300i" rel="stylesheet">
  <script src="https://use.fontawesome.com/893157c1ad.js"></script>
<body>

</body>

</html>